@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --light-grey: #757575;

  --timeline-bar-color: #fff;
  --timeline-bar-color-glow: #fff;
  --accent-color: #402d9f;

  --accent-color-glow: #2162ccd1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-grey: var(--light-grey);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-appear: appear 1s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}