.header {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 50%;
        background-color: white;
        backdrop-filter: invert(100%);
        border-radius: var(--radius-md);
        mix-blend-mode: overlay;
        transition: all 300ms;
    }
}